<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<header>
  <div class="navcontainer">
    <a routerLink="/">{{ appTitle }}</a>
    <nav>
      <ul>
        
        <li *ngIf="!integrated"><a routerLink="/corebankservices/register">Intergrate with CBS</a></li>
        <li><a routerLink="/api">API</a></li>
        <li><a routerLink="/support">Support</a></li>
        <li><a routerLink="/profile"><i class='fas fa-user-alt' style='font-size:24px'></i></a></li>
      </ul>
    </nav>
  </div>
</header>
