.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown{
  border-radius:0;
  border:0;
}
.dropdown-menu{
  border:0;
  top:80%;
  border-radius:5px 5px 5px 5px;
}

.seperateLi{
  margin-left: 20px;
}

.material-icons{
  margin-right: 5px;
}

.navbar-brand{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-radius: 2px;
}

a.navbar-brand{
  padding: 0px 0px !important;
}

a{
  text-decoration: none;
}

i{
  margin-right: 10px;
}
