 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="logo">
        <a class="navbar-brand" routerLink="/home">IBM IDBP</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/apilist">API Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Docs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Support
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/support">Contact Us</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/support">FAQs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/support">Support</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!login; else elseblock"><a routerLink="/signup">Create account</a></li>
            <ng-template #elseblock>
              <div class="divider">.</div>
            </ng-template>
            <div class="seperateLi">
                <li *ngIf="!login; else elseBlock"><a routerLink="/login"><span class="glyphicon glyphicon-user"></span>Sign In</a></li>
                <ng-template #elseBlock>
                  <li><a routerLink="/profile"><span class="glyphicon glyphicon-user"></span>{{username}}</a></li>
                </ng-template>
            </div>
        </ul>
      </div>
    </nav>


