.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown{
  border-radius:0;
  border:0;
}
.dropdown-menu{
  border:0;
  top:80%;
  border-radius:5px 5px 5px 5px;
}

.seperateLi{
  margin-left: 20px;
}

.material-icons{
  margin-right: 5px;
}

.logo{
  padding-left: 30px;
  padding-right: 50px;
  background-color: #047cc0;
  border-radius: 2px;
}

a{
  text-decoration: none;
}

i{
  margin-right: 10px;
}
