
.dropdown:hover>.dropdown-menu {
  display: inline;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.seperateLi{
  margin-left: 20px;
}

.material-icons{
  margin-right: 5px;
}

.logo{
  padding-left: 30px;
  padding-right: 50px;
  background-color: #047cc0;
  border-radius: 2px;
}

a{
  text-decoration: none;
  color: #047cc0;
}

i{
  margin-right: 10px;
}
