label{
    font-size: 100%;
    font-weight: bold;
  }
  button[type="submit"]{
    background-color: rgb(106, 39, 182);
    color: white;
    font-weight: bold;
    padding: 12px 45x;
    border-radius: 4px;
  }
  