h1,h2,p,h6{
  text-align: center;
}

h2,h5,h6{
  font-weight: bold;
}
.jumbotron{
  font-weight: bolder;
}

.card{
  margin-bottom: 30px;
  border-top: solid 4px #047cc0;
}

.forborder{
  border-radius: none;
}
