@import '~bootstrap/dist/css/bootstrap.min.css';

.connect{
  margin-left:40%;
}

button[type="submit"]{
  background-color: rgb(64, 22, 112);
  color: white;
  font-weight: bold;
  padding: 10px;
   border-radius: 7px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
