.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 70px;
}

.site-footer {
  background-color: #333030;
  color: #ffffff;
  text-align: center;
}

.site-footer a{
  text-decoration: none;
}

.site-footer p{
  padding-top: 25px;
}
