
.msg{
    border: solid 2px transparent;
    border-radius : 10px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

a.custom-card{
  text-decoration: none;
}
a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.card{
  text-align: center;
}

.card-header{
  font-weight: bold;
}
