.ibcform{
    display: none;
}
.message{
    display: none;
}

.msg{
    border: solid 2px blueviolet;
    border-radius : 10px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.lbl{
    font-size: 16px;
}

.secure{
    transform: skew(20deg);
}
