<br>
<div class="msg" *ngIf="confirmed">
    Your account has been activated. Please integrate with your Core Bank Solution to continue.
    <a routerLink="/corebankservices/register">Intergrate with CBS</a>
</div>

<div class="msg" *ngIf="integrated">
    Integrate Bank Connect account from your <a routerLink="/profile">Profile Page</a>
</div>

<div class="msg" *ngIf="bcintegrated">
    Your dashboard appears here
</div>
<br>
<div class="container">
  <div class="row">
    <div class="card-deck">
        <div class="col-sm-4">
            <a routerLink="/apilist" class="custom-card">
              <div class="card h-100" >
                  <div class="card-header">API PRODUCTS</div>
                    <div class="card-body">
                    <p class="card-text">Edit, assemble, secure and test APIs. Package APIs using products for publishing to consumers.</p>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
              <a routerLink="/support" class="custom-card">
                <div class="card h-100">
                    <div class="card-header">LEARN MORE</div>
                      <div class="card-body">
                      <p class="card-text">Documentation and tutorials with step-by-step instructions.</p>
                    </div>
                </div>
              </a>
          </div>
          <div class="col-sm-4">
              <a routerLink="/support" class="custom-card">
                <div class="card h-100">
                  <div class="card-header">CONNECT</div>
                    <div class="card-body">
                      <p class="card-text">Find Expert answers in IDBP community forum.</p>
                    </div>
                </div>
              </a>
          </div>
    </div>
  </div>
</div>

<!-- <div class="msg">
    <button type="button" (click)="checkshell()">Check Shell</button>
</div> -->
