<h1>Browse your Services</h1>

<!-- =================show msg , that it is published================= -->
<div *ngIf="afterclickpublish" class="alert alert-success box-msg" role="alert">
  <strong>Publish Successful!</strong> Your changes have been updated to Bank connect.
</div>

<form [formGroup]="apiservicesform" (ngSubmit)="OnSubmit()">
  <div class="form-group">
    <div class="form-check" *ngFor="let control of apilistArray.controls; let i = index">
      <input class="form-check-input" type="checkbox" id="{{i}}" [formControl]="control" (change)="getapiselected()">
      <label class="form-check-label" for="{{i}}">
        {{apilist[i] | uppercase}}
      </label>
    </div>
    <!-- <div>
        <small id="fnHelp" *ngIf="noapierror" class="form-text custom-invalid-feedback">At least choose one </small>
      </div> -->
  </div>

  <!-- <div *ngIf="!apiservicesform.valid">At least one order must be selected</div> -->
  <div class="connect">
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
</form>
