<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<h3><b>{{title}}</b></h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-3 choice">
      <!-- options -->
      <button [ngClass]="profileClass" (click)="show_profile()"> My Details</button>
      <button [ngClass]="passClass" (click)="show_pass()"> Change Password</button>
      <button [ngClass]="pendingClass" (click)="show_pending()"> Pending Requests </button>

    </div>
    <div class="col-lg-9 content">
          <!-- ==================== PROFILE ============================ -->

          <div class="profile">
              <ul>
                  <li><b>User Name: </b>{{show_user_profile.username}}</li>
                  <li><b>First Name: </b>{{show_user_profile.fname}}</li>
                  <li><b>Last Name: </b>{{show_user_profile.lname}}</li>
                  <li><b>Email: </b>{{show_user_profile.useremail}}</li>
              </ul>
          </div>

          <!-- ==================== PASSWORD ============================ -->

          <div class="changepass">
          <form [formGroup]="passForm" (ngSubmit)="onPassSubmit()">
            <label> Current Password</label>
            <input class="form-control" type="password" placeholder="Enter Current Password" formControlName="old">

            <label> New Password</label>
            <input class="form-control" type="password" placeholder="Enter New Password" formControlName="new">

            <label> Re-Type New Password</label>
            <input class="form-control" type="password" placeholder="Re-Type New Password" formControlName="renew">

            <button class="btn btn-primary" style="margin-top: 15px;"> Change Password</button>
          </form>
          </div>

          <!-- ==================== PENDING REQUESTS ============================ -->
          <div class="pendingreq">
            <table>
                <tr>
                  <th>Partner</th>
                  <th>Accept</th>
                  <th>Decline</th>
                </tr>
                  <tr *ngFor="let req of requests;let i = index">
                    <td>{{req}}</td>
                    <td><button class="accept btn btn-success" (click)="accept(i,req)"> Accept </button></td>
                    <td><button class="accept btn btn-danger" (click)="decline(i,req)"> Decline </button></td>
                  </tr>
            </table>
          </div>

          <!-- =============================== PARTNERS ================================ -->
          <div class="partner">
            <div *ngFor="let partner of partners" class="part">
              <div class="card">
                <div class="card-header">{{partner.name}}</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                        Payment Amount:<input type="text" placeholder="{{partner.amnt}}">
                    </div>
                    <div class="col-lg-6">
                        Payment Frequency:<input type="text" placeholder="{{partner.freq}}">
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-6">
                          Account Number:<input type="text" placeholder="{{partner.accno}}">
                      </div>
                      <div class="col-lg-6">
                          Maker ID:<input type="text" placeholder="{{partner.mid}}">
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            Approver ID:<input type="text" placeholder="{{partner.appid}}">
                        </div>
                        <div class="col-lg-6">
                            Checker ID:<input type="text" placeholder="{{partner.cid}}">
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>


<!-- *ngFor="let req of requests;let i = index" -->
