
.carousel-inner .carousel-item {
  height: 300px;
}

img{
  height: 300px;
}

.carousel {
  height:300px;
}

.below{
  text-align: center;
  font-weight: bold;
  margin-left: 17%;
}

.card{
  text-align: center;
}

.card-header{
  font-weight: bold;
}
