<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]"  alt="Random third slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <!-- <ng-template ngbSlide>
    <img [src]="images[3]" alt="Random fourth slide">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template> -->
</ngb-carousel>
<br>
<br>

<!-- <div class="container"> -->
    <div class="jumbotron">
        <h2 class="display-4">Build yourself with a global finance API</h2>
        <p class="lead">With over 200 million customers, IDBP connects you to a massive amount of data around the world.
           Making products accessible anywhere and everywhere. Check out the many ways our partners leverage our platform
            and APIs to create innovative experiences.</p>
        <hr class="my-4">
        <p>Explore the ways you can build with IBM Digital Banking Platform</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Get Started</a>
        </p>
    </div>
<!-- </div> -->

<div class="container">
    <div class="card-deck">
        <div class="card">
          <div class="card-header">Account Opening</div>
          <div class="card-body">
            <p class="card-text">IDBP Bank’s API for banking correspondence, facilitates account opening on behalf of the Bank. With services like Customer ID creation, savings account opening, duplication check etc., this API bundle offers necessary services to run a fully Digital Business Correspondence model. These APIs help in further enhancing and transforming
               the existing Bank offerings, by increasing their appeal to the existing and prospective customers alike..</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card">
          <div class="card-header">UPI</div>
          <div class="card-body">
            <p class="card-text">The Unified Payments Interface (UPI) is an instant, real-time payment system developed by National Payments Corporation of India (NPCI) facilitating inter-bank transactions. It is a unique solution that can
              be used to transfer money and make payments using the Immediate Payments Service (IMPS)</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>
      <br><br>
      <div class="card-deck">
          <div class="card">
            <div class="card-header">Digital Card</div>
            <div class="card-body">
              <p class="card-text">When a Customer checks out through a Merchant’s Point of Sale (POS) terminal, if a Bank can offer convenient EMI option for the payment, it would be a unique business opportunity for Card Issuers, Merchants
                and Brands to connect with Customers and provide them additional convenience..</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
          <div class="card">
            <div class="card-header">Fund Transfer</div>
            <div class="card-body">
              <p class="card-text">Federal Bank helps customers get gold loans in times of a financial need. As gold loans are the quickest mode of availing instant cash, the Bank provides loans with attractive interest rates and flexible repayment options.
                 Bank’s Gold Loan API bundle enables fintech and service provider applications to get the details of loan accounts,.</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
</div>
<br>
<br>
<div class="container">
  <div class="row" class="below">
    <h3>Start working with us from today  <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Get Started</a></h3>
  </div>
</div>
<br>
<br>
