<div class="container">
  <div class="row">
    <h4><b>Core banking Service Registration</b></h4><br>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form [formGroup]="CBSForm" (ngSubmit)="onSubmit()">
                    <!-- ====================== CORE BANKING SERVICE ================================ -->
                    <div class="cbs-div">
                      <label id="CBS-radio-group-label">Pick your CBS</label><br>
                        <mat-radio-group
                          aria-labelledby="CBS-radio-group-label"
                          class="CBS-radio-group"
                          formControlName="CBS">
                          <mat-radio-button class="example-radio-button" *ngFor="let list of cbslist" [value]="list.value" (change)="newCbs(list.value)">
                            {{list.viewValue}}
                          </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <!-- ====================== VERSIONS ================================ -->

                    <br>
                    <div class="version-div">
                      <label id="version-radio-group-label">Pick version</label><br>
                        <mat-radio-group
                          aria-labelledby="version-radio-group-label"
                          class="version-radio-group"
                          formControlName="version">
                          <mat-radio-button class="example-radio-button" *ngFor="let list of verver" [value]="list" (change)="showintopt()">
                            {{list}}
                          </mat-radio-button>
                        </mat-radio-group>
                        <!-- <input type="radio" *ngFor="let list of verver" [value]="list" (change)="showintopt()" formControlName="version">
                        <p> {{list}} </p> -->
                    </div>

                <!-- ====================== INTEGRATION OPTIONS ================================ -->
                  <br>
                  <div class="intopt-div">
                  <label> <b>Choose your integration method </b></label><br>
                       <mat-radio-group
                          aria-labelledby="intopt-radio-group-label"
                          class="intopt-radio-group"
                          formControlName="IntOpt">
                          <mat-radio-button class="example-radio-button" *ngFor="let list of intoptions" [value]="list.value" (change)="showcred()">
                            {{list.viewValue}}
                          </mat-radio-button>
                        </mat-radio-group>
                  </div>

                  <!-- ====================== CREDENTIALS ================================ -->

                    <br>
                    <div class="cred-div">
                        <label> <b>Choose your Open Banking standard </b></label><br>
                        <mat-radio-group
                           aria-labelledby="intopt-radio-group-label"
                           class="intopt-radio-group"
                           formControlName="bankstandard">
                           <mat-radio-button class="example-radio-button" value="open">
                             Open Banking
                           </mat-radio-button>
                           <mat-radio-button class="example-radio-button" value="bayn">
                            BIAN
                            </mat-radio-button>
                         </mat-radio-group>

                        <label> Enter your Core credentials </label> <br>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Enter Server IP" formControlName="SIP" >
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                          <input  type="password" matInput placeholder="Enter Credentials" formControlName="cred">
                        </mat-form-field>
                        <div class="connect">
                          <button mat-raised-button color="primary"  type="submit"> Connect!</button>
                        </div>
                    </div><br>
                    
          </form>
    </div>
    <div class="col-lg-4"></div>
  </div>

</div>
