@import '~bootstrap/dist/css/bootstrap.min.css';

.connect{
  margin-left:40%;
}

button[type="submit"]{
  background-color: rgb(64, 22, 112);
  color: white;
  font-weight: bold;
  padding: 10px;
   border-radius: 7px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.version-div{
  display: none;
}

.intopt-div{
  display: none;
}

.cred-div{
  display: none;
}